# Vercel AI Gateway
AI_GATEWAY_API_KEY=...

# Langsmith
LANGSMITH_TRACING="true"
LANGSMITH_API_KEY="..."

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_NUMBER=

# Tavily websearch
TAVILY_API_KEY=
